@import "~react-image-gallery/styles/css/image-gallery.css";

.App {
  text-align: center;
  background-color: #262626;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.fadeinLayer{
  -webkit-animation: fadein 2s;
  animation: fadein 4s;
}

@keyframes fadein {
  from { opacity: 0.5; }
  to   { opacity: 1; }
}

.corner-left{
  position: fixed;
  top: 0;
  left: 0;
  margin-top: -7vh;
  width: 25vh;
  z-index: 2;
  filter: saturate(3);
  animation: dropdown 4s;
}


.corner-right{
  position: fixed;
  top: 0;
  right: 0;
  margin-top: -7vh;
  transform: rotateY(3.142rad);
  width:25vh;
  z-index: 2;
  filter: saturate(3);
  animation: dropdown 4s;
}


@keyframes dropdown {
  from { margin-top: -20vh ; }
  to   { margin-top: -7vh ; }
}



.title{
  width: 25vw; 
  min-width: 300px;
  height: 20%;
  max-width:100%; 
  max-height:100%; 
  vertical-align: middle;
}

.about{
  color: white; 
  font-family: 'Verdana', sans-serif; 
  font-size: 16px; 
  line-height: 26px; 
  text-indent: 30px; 
  margin-bottom: 5vh;
}

.about-block{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 50%;
  margin-bottom: 5vh;
}

.signature{
  position: relative;
  width: 4vw;
  min-width: 50px;
  transform: translateY(-8vh);
  animation: delayedfade 8s;
}

@keyframes delayedfade {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.arrow{
  color: white;
  width: 6vw;
  filter: saturate(3);
  filter: brightness(0) invert(1);
  animation: comefromleft 4s;
}

@keyframes comefromleft {
  from { margin-left: -20vw ; }
  to   { margin-left: 0vw ; }
}

.fregio{
  color: white;
  width: 20vh;
  filter: saturate(3);
  filter: brightness(0) invert(1);
  /* filter: saturate(6); */
}

.comefrombelow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: comefrombelow 6s;
}

@keyframes comefrombelow {
  from { transform: translateY(25vh); }
  to   { transform: translateY(0vh); }
}

.arrow-rotated{
  transform: rotateY(3.142rad);
  width: 6vw;
  filter: saturate(3);
  filter: brightness(0) invert(1);
}

.body{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: -50px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5vh;
}

.social-item{
  padding: 2vw;
  width: 5vw;
  height: 5vh;
}



